[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
twilio = "*"
libclang = "==13.0.0"
opencv-python = "*"
streamlit = "*"

[dev-packages]

[requires]
python_version = "3.10"
